---
layout: default
---

<div class="home">

  <h1 class="page-heading">Home</h1>

  <p style="text-align: justify"> Welcome to my blog and personal website. Often my blog posts are in some ways implicitly motivated by my high-level desire to find answers to the questions on <a href="{{ "/questions" | relative_url }}">this</a> personal list of mine. I should also that mention that my blog posts are often implicitly related in some way to mathematics at the University of Waterloo as well. Very broadly speaking, I suppose that you could say that I am attempting to sample and gain momentum in research being conducted in the subject area known as algebraic graph theory, and am also picking up some knowledge from other areas of mathematics that could turn out to be useful for solving problems in this subject area along the way.</p>


  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" style="font-size: 18px" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe via <a href="{{ "/feed.xml" | relative_url }}">RSS</a>.</p>

</div>