---
layout: default
---

<div class="home">

  <h1 class="page-heading">About</h1>

  <p>{{ site.about }}</p>

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" style="font-size: 18px" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Subscribe via <a href="{{ "/feed.xml" | relative_url }}">RSS</a>.</p>

</div>